page-home {
    ion-content{
        background: url(/assets/imgs/teaser_bg.jpg);
        background-size: cover !important;
        background-position: center !important;
    }

    .teaser-text{
        color: #fff;
        text-transform: uppercase;
        margin-top: 30vh;
        font-size: 2.5vh;
        background: #000000a1;
    }
    ion-img{
        background: none;
    }

    .footer{
            position: absolute;
            bottom: 0;
            width: 100%;
           
        
        & a{
            margin: 0 auto;
            color: #fff;
            font-size: 10px;
            text-decoration: none;
            
            img{
                width: 25vw;
                vertical-align: middle;
            }
        }
    }
}
